*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #282E42 #ffffff;
}
/*général*/ 

body{
	font-family: 'Roboto';
    
    font-size: 14px ;
    background-color: #ffffff;
}

h2{
font-size: 14px;
font-weight: bold;
}

h2.boutonTitle{
color: #ffffff;
}

em{
display: inline;
font-size: 14px;
font-weight: 700;
font-style: normal;
/*text-transform:uppercase;*/
color: #fa4564;
}

a{
text-decoration-color: #fa4564;
}


.bloc{
    display: inline-block;
    width: 270px;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
}
